[submodule "Packages/ruby"]
	path = Packages/ruby
	url = git@github.com:Rabbit-Converter/Rabbit-Ruby.git
[submodule "Packages/PHP"]
	path = Packages/PHP
	url = git@github.com:Rabbit-Converter/Rabbit-PHP.git
[submodule "Packages/Objc"]
	path = Packages/Objc
	url = git@github.com:Rabbit-Converter/Rabbit-Objc.git
[submodule "Packages/Elixir"]
	path = Packages/Elixir
	url = git@github.com:Rabbit-Converter/Rabbit-Elixir.git
[submodule "Packages/Node"]
	path = Packages/Node
	url = git@github.com:Rabbit-Converter/Rabbit-Node.git
[submodule "Packages/Swift"]
	path = Packages/Swift
	url = git@github.com:Rabbit-Converter/Rabbit-Swift.git
[submodule "Packages/Go"]
	path = Packages/Go
	url = git@github.com:Rabbit-Converter/Rabbit-Go.git
